{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": ["info", "warn", "trace", "error"]
          }
        ]
      }
    }
  ],
  "rules": {
    "quotes": ["error", "double"],
    "comma-dangle": ["error", "always-multiline"],
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/type-annotation-spacing": ["warn"],
    "nonblock-statement-body-position": ["error", "beside"],
    "curly": ["error", "multi"]
  }
}
