{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": ["info", "warn", "trace", "error"]
          }
        ]
      }
    }
  ],
  "rules": {
    "quotes": ["error", "double"],
    "indent": "off",
    "curly": ["error", "multi-line"],
    "keyword-spacing": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/type-annotation-spacing": "error",
    "prettier/prettier": [
      "warn",
      {
        "semi": false,
        "trailingComma": "es5",
        "endOfLine": "auto",
        "htmlWhitespaceSensitivity": "ignore"
      }
    ],
    "tailwindcss/no-custom-classname": "off"
  }
}
